<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<%= csrf_meta_tag %>
<%= stylesheet_link_tag "admin" %>
<%= javascript_include_tag 'jquery','/ckeditor/ckeditor'%>
<title>后台管理</title>                   		   	
</head>
<body>
<!--head-->
<div class="admin-head"><%=render :partial=>"/layouts/admin/header"%></div>
<!--main-->
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr align="left" valign="top">
        <td width="183" height="406" class="admin-left">
            <table border="0" cellspacing="0" cellpadding="0">
                <tr>
                   <td height="1560" align="left" valign="top"><%=render :partial=>"/layouts/admin/left"%></td>
                </tr>

                 <tr>
                    <td>&nbsp;</td>
                 </tr>
              </table>
         </td>

          <td width="90%" valign="top" align="left">
            <%= yield %>
          </td>
  </tr>
</table>
</body>

</html>
